body{
    background-image: url(newflag.jpg);
    font-family: 'Source Sans Pro', sans-serif;
}
ul{
    color: orange;
    opacity: 1.0;
    border: maroon;
    border-style: solid;
    border-width: 5px;
    width: 25%;
    background-color: black;
    float: left;
}
#open{
    color: crimson;
    opacity: 1.0;
    border:maroon;
    border-style: solid;
    border-width: 5px;
    width: 25%;
    background-color: black;
    padding-top: 15px

}
#butt{
     color:gold;
     opacity:1.0;
        border:black;
        border-style: solid;
     border-width: 5px;
     width: 70%;
        background-image: url(sky.jpg);
    float: right;
}
#vp{
    color: white;
    opacity: 1.0;
    border: black;
    border-style: groove;
    border-width: 5px;
    width:50%;
    background: linear-gradient(red, white, blue);
    float: left;
    padding-top: 35px
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    
}
li{
    float: left;
    display:inline;
}
li a{
    display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: green;
}
#list ul{
    position:fixed;
    top:0;
    width: 100%;
}
#list ul {
    border: 1px solid gray;
    background-color:gray;
}

li a {
    color: black;
}
#Ticket{
    padding-top: 35px
}
#prez{
    color: white;
    opacity: 1.0;
    border: black;
    border-style: groove;
    border-width: 5px;
    width:50%;
    background: linear-gradient(red, white, blue);
    float: left;
    padding-top: 35px
}